#lists-container {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    overflow-x: scroll;
    height: calc(100% - 130px);
    width: 100vw;
    padding-bottom: 20px;
}

app-list:first-of-type {
    margin-left: 20px;
}

#ogre {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    filter: hue-rotate(215deg) brightness(1.25);
}

#ogre img {
    width: 100%;
}

#ogre:hover {
    filter: unset;
}

#easter-egg {
    position: fixed;
    width: 300px;
    height: 150px;
    top: calc(50vh - 200px);
    right: calc(50vw - 150px);
}

#easter-egg img {
    width: 100%;
}

#easter-egg img:hover {
    box-shadow: 1px 1px 5px 2px dodgerblue;
}

#easter-egg p {
    color: darkred;
    text-align: center;
    font-size: 1.3rem;
}

@media only screen and (max-width: 580px){
    #lists-container {
        padding: 5px;
        height: calc(100% - 55px);
    }
    app-list:first-of-type {
        margin-left: 0;
    }
    #ogre {
        top: 5px;
        right: 5px;
    }
}