<div id="nav" [ngStyle]="{'color': color}">
    <div id="previous-button" (click)="onPrevious(name)" (mouseover)="hoverPrevious=true" (mouseout)="hoverPrevious=false" [ngStyle]="{'background-color': hoverPrevious==true ? color : 'white'}">←</div>
    <div id="next-button" (click)="onNext(name)" (mouseover)="hoverNext=true" (mouseout)="hoverNext=false" [ngStyle]="{'background-color': hoverNext==true ? color : 'white'}">→</div>
</div>

<div id="left" (click)="onPrevious(name)" [ngStyle]="{'color': color}">☀♫♩☀</div>
<div id="right" (click)="onNext(name)" [ngStyle]="{'color': color}">☀♩♫☀</div>
