#left {
    left: 5px;
}

#right {
    right: 5px;
}

#left, #right {
    position: fixed;
    bottom: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#left:hover, #right:hover {
    color: dodgerblue!important;
}
#nav {
    float: right;
    position: fixed;
    top: 25px;
    right: 20px;
    display: flex;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#nav * {
    background-color: white;
    font-size: 2rem;
    margin-left: 10px;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    border: 2px solid;
    border-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#nav *:hover {
    background-color: dodgerblue;
    color: white!important;
    border: none;
    width: 64px;
    height: 64px;
}

@media only screen and (max-width: 580px){
    #nav {
        top: 10px;
        right: 10px;
    }

    #nav * {
        background-color: transparent;
        font-size: 2rem;
        width: 48px;
        height: 48px;
    }
}
