#root-container {
    height: 100vh;
    width: calc(100vw - 40px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 20px;
}

#header {
    display: inline-block;
}

#site-description {
    letter-spacing: -0.5px;
    font-size: 1.1rem;
    text-transform: uppercase;
    display: inline-block;
    text-align: text-top;
    position: relative;
    top: 1px;
    left: 10px;
}

#site-header {
    font-size: 5.2rem;
    display: inline-block;
    transition: 0.5s;
    letter-spacing: -3px;
    line-height: 0;

}

#site-header:hover {
    cursor: pointer;
    filter: blur(3px);
}

#arrow {
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    border: 1px solid;
    border-color: inherit;
    border-radius: 20px;
    padding: 0 5px;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
}


#sword {
    font-size: 6.8rem;
    line-height: 0;
}

#clover {
    position: relative;
    font-size: 1.4rem;
    top: 1px;
}

@media only screen and (max-width: 580px){
    #root-container {
        padding: 5px;
    } 

    #site-description {
        display: none;
    }

    #site-header {
        font-size: 3rem;
        line-height: 1;
    }

    #sword {
        font-size: 3.6rem;
    }
}