.list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: -0.5px;
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: pointer;
}
.list-container:hover {
    color: white;
    background-color: dodgerblue;
}

.list {
    width: 300px;
    overflow-y: scroll;
    border-color: inherit;
    border-right: 1px solid;
}

.name {
    font-size: 3rem;
    border-bottom: 1px solid;
    border-color: inherit;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    letter-spacing: -1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.roman {
   /* float: right;  */
   font-size: 1.2rem;
   margin-top: 25px;
   vertical-align: top;
}


app-song {
    border-color: inherit;
}

@media only screen and (max-width: 500px){
    #header {
        padding: 5px;
    }

    .name {
        padding: 0;
    }

    .list {
        border-right: 1px solid;
    }
}