.list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    letter-spacing: -0.5px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    cursor: pointer;
    border: 1px solid;
    margin-left: -1px;

}
.list-container:hover {
    color: white;
    background-color: dodgerblue;
    border-bottom: none;
}

.list {
    border-color: inherit;
    width: 275px;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    box-sizing: border-box;
}

.list::-webkit-scrollbar {
    width: 0px;
}

.name {
    font-size: 3rem;
    padding-top: 15px;
    text-align: center;
    line-height: 0.85;
    letter-spacing: -2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid;
}

.roman {
   font-size: 1.1rem;
   vertical-align: top;
}