<div class=name *ngIf="name" [ngStyle]="{'color': color}">{{name}}</div>

<div id="nav" [ngStyle]="{'color': color}">
    <div id="previous-button" (click)="onPrevious(name)" (mouseover)="hoverPrevious=true" (mouseout)="hoverPrevious=false" [ngStyle]="{'background-color': hoverPrevious==true ? list.color : 'white'}">←</div>
    <div id="next-button" (click)="onNext(name)" (mouseover)="hoverNext=true" (mouseout)="hoverNext=false" [ngStyle]="{'background-color': hoverNext==true ? list.color : 'white'}">→</div>
</div>

    <div class=list *ngIf="list" [ngStyle]="{'border-color': color}">
        <div class="song-container" *ngFor="let song of list.list; index as i">
            <div class="number">{{i + 1}}</div>

            <div class="song-info" *ngIf="!smallScreen">
                <div class="youtube-player" id="{{song.link}}" *ngIf="!song.link.startsWith('http')"></div>

                <iframe class="song-link" *ngIf="song.link.startsWith('http')" [src]="song.link | safe" controls=0 modestbranding rel=0 frameborder="0"  color="#1e90ff" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="song-name">{{song.song}}</span>
                <br>
                <span class="song-artist">{{song.artist}}</span>
                <div class="song-description">{{song.description}}</div>
            </div>

            <div class="song-info" *ngIf="smallScreen">
                <span class="song-name">{{song.song}} </span>
                <span class="song-artist">by {{song.artist}}</span>
                <iframe class="song-link" [src]="song.link | safe" controls=0 modestbranding rel=0 frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="song-description">{{song.description}}</div>
            </div>

        </div>
    </div>
