
<div class="list" *ngIf="list" id="list-container" [ngStyle]="{'border-color': color}">
        <div class="intro" *ngIf="list.intro" [ngStyle]="{'color': color}">
            <div class="intro-text" [innerHTML]=list.intro></div>
        </div>
        <app-song-detailed 
            [song]=song 
            [index]=i 
            [smallScreen]=smallScreen 
            [color]=color
            *ngFor="let song of list.list; index as i">
        </app-song-detailed>
</div>


<div class=name *ngIf="name" [ngStyle]="{'color': color}">{{ name | noHyphen }}
    <a [href]=list.playlistLink  target="_blank">
        <div id="playlistLink">&nbsp;♫&#xFE0E;♩&#xFE0E;</div>
    </a>
</div>
<app-nav [color]=color [name]="name"></app-nav>

