.detailed-list-container {
    padding: 20px;
    overflow: hidden;
    height: 100%;
}

.name {
    font-size: 4rem;
    border-bottom: 1.5px solid;
    border-color: inherit;
    padding: 10px 10px 10px 0px;
    letter-spacing: -1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: -2px;

}

.list {
    overflow-y: scroll;
    height: calc(100vh - 230px);
    border-bottom: 1.5px solid;
    border-color: inherit;
}

.song-container {
    border-bottom: 1.5px solid;
    border-color: inherit;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;


}

.song-name-container {
    display: flex;
    padding-bottom: 10px;
    width: 100%;
}

.number {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    border: 1.5px solid;
    border-color: inherit;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 10px;
    margin-top: 1px;
}

.song-artist {
    font-style: italic;
    font-size: 1.2rem;
    display: inline-block;
    vertical-align: top;
}

.song-description {
    font-size: 1.2rem;
    padding-top: 10px;
    max-width: 700px;
}

.song-info {
    width: 100%;
}

.song-link {
    float: right;
    width: 400px;
    height: 400px;
    padding: 5px 0 5px 10px;
}

#nav {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
}

#nav * {
    font-size: 1.5rem;
    margin-left: 10px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    border: 1.5px solid;
    border-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;

}

#nav *:hover {
    cursor: pointer;
    background-color: dodgerblue;
    color: ivory;
    border-color: dodgerblue;
}

#nav *:active {
    cursor: pointer;
    background-color: orangered;
    border-color: orangered;
    color: ivory;
}