body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    background-color: ivory;
    color:dodgerblue;
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: color 0.25s;

}

.list app-song:last-child .song-container {
    border-bottom: none;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.list::-webkit-scrollbar {
    display: none;
}

.list {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

app-root {
    z-index: 1;
}

#watermark-container {
    position: fixed;
}

#watermark {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 0;

}

#watermark-img {
    width: 200%;
    margin: auto;
    filter: blur(15px);
    opacity: 0.3;
    z-index: 0;
    transition: filter 1s;
}