body, html {
    font-size: 16px;
    font-family: 'Helveica-Neue', Helvetica, sans-serif;
    color:dodgerblue;

    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    padding: 20px;
    box-sizing: border-box;
}

app-list:hover {
    z-index: 2;
}

app-list:last-of-type {
    padding-right: 20px;
}

.list app-song:last-child .song-container, .detailed-list-container .list .song-container:last-child  {
    border-bottom: none;
}

#watermark-container {
    position: fixed;
}

#watermark-img {
    position: fixed;
    left: 0;
    top: 160px;
    width: 100vw;
    opacity: 0.3;
    z-index: 1;
    transition: filter 0.25s;
}

@media only screen and (max-width: 580px){
    #watermark-container {
        position: fixed;
    }

    #watermark {
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 0;
    }
    
    #watermark-img {
        width: 200vw;
        top: 20px;
        transition: none;
    }

    body {
        padding: 5px;
    }
}