.song-container {
    border-bottom: 1.5px dotted;
    padding: 10px;
    display: flex;
    font-size: 1.3rem;
}

.number {
    width: 30px;
    flex-shrink: 0;
}

.song-artist {
    font-size: 1rem!important;
    line-height: 1;
    letter-spacing: 0;

}