.song-container {
    border-bottom: 1.5px dotted;
    padding: 10px;
    display: flex;
    font-size: 1.1rem;
}

.number {
    width: 30px;
    flex-shrink: 0;
}

.song-artist {
    font-style: italic;

}